<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.examples.konversi"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.examples.konversi.SplashScreen"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
         <activity
            android:name="com.examples.konversi.ActivityDua"
            android:label="Konversi Suhu" >
      
        </activity>
        <activity
            android:name="com.examples.konversi.ActivityTiga"
            android:label="Konversi Luas" >
      
        </activity>
        <activity
            android:name="com.examples.konversi.ActivityEmpat"
            android:label="Konversi Berat" >
      
        </activity>
        <activity
            android:name="com.examples.konversi.ActivityLima"
            android:label="Konversi Panjang" >
      
        </activity>
        <activity
            android:name="com.examples.konversi.ActivityEnam"
            android:label="Konversi Volume" >
      
        </activity>
         <activity
            android:name="com.examples.konversi.ActivityAbout"
            android:label="About" >
      
        </activity>
        <activity
            android:name="com.examples.konversi.MainActivity"
            android:label="Menu" >
      
        </activity>
    </application>

</manifest>
